@tailwind base; 
@tailwind components;
@tailwind utilities;

li:focus-visible {
outline: none;
}
li:hover {
cursor: pointer;
}
@layer base {
    :root {
        /*------Color variables------*/ 
        --black_900: #060e19;
        --black_900_01: #000000; 
        --black_900_0c: #0000000c; 
        --black_900_7f: #0000007f; 
        --blue_100: #d0e0fc;
        --blue_a400: #2b71f0;
        --blue_a400_00: #2b70ef00;
        --blue_a400_33: #2b71f033;
        --blue_gray_100: #d0d4dd;
        --blue_gray_100_01: #d9d9d9;
        --blue_gray_100_02: #d1d1d1;
        --blue_gray_300: #98a1b2;
        --blue_gray_300_01: #8b94a6;
        --blue_gray_50: #f1f1f1;
        --blue_gray_500: #677488;
        --blue_gray_500_01: #667185; 
        --blue_gray_500_99: #67748899;
        --blue_gray_50_01: #eff1f4;
        --blue_gray_700: #475267;
        --blue_gray_800: #344054;
        --blue_gray_900: #2b3338;
        --blue_gray_900_01: #001a40;
        --deep_orange_100: #fcd2c2; 
        --deep_orange_a100: #f99773; 
        --gray_400: #bbbdbf;
        --gray_50: #fafafa;
        --gray_50_01: #f9f9fb;
        --gray_50_02: #f9fafb;
        --gray_600: #737373;
        --gray_900: #lala21;
        --gray_900_01: #03192e;
        --gray_900_02: #25272a;
        --gray_900_03: #171717;
        --gray_900_04: #041738;
        --gray_900_05: #101828;
        --gray_900_0c: #1018280c;
        --green_50: #e7f6ec;
        --green_800: #0f973d;
        --green_900: #037f2d;
        --indigo_50: #e4e7ec;
        --indigo_900: #0e225a;
        --red_500: #e5523c; 
        --teal_900: #00473b; 
        --white_a700: #fffefe; 
        --white_a700_01: #ffffff; 
        --white_a700_38: #ffffff38; 
        --white_a700_9b: #ffffff9b;
        
        /*------Shadow variables ------*/ 
        --shadow-xs: 0 1px 2px 0 #1018280c;
        
        /*------Border radius variables ---- */
        --radius-xs: 2px;
        --radius-sm: 4px;
        --radius-md: 5px;
        --radius-lg: 6px;
        --radius-xl: 8px;
        --radius-2xl: 10px;
        --radius-3xl: 12px;
        --radius-4xl: 14px;
        --radius-5xl: 20px;
        --radius-6xl: 22px;
        --radius-7xl: 24px;
        --radius-8xl: 26px;
        --radius-9xl: 32px;
        --radius-10xl: 66px;

        /*------ Spacing variables ------*/
        --space-xs: 2px;
        --space-sm: 2.34px;
        --space-md: 4px;
        --space-lg: 6px;
        --space-xl: 8px;
        --space-2xl: 10px;
        --space-3xl: 12px;
        --space-4xl: 14px;
        --space-5xl: 16px;
        --space-6xl: 18px;
        --space-7xl: 20px;
        --space-8xl: 22px;
        --space-9xl: 24px;
        --space-10x1: 26px;
        --space-11xl: 30px;
        --space-12xl: 32px;
        --space-13xl: 34px;
        --space-14xl: 36px;
        --space-15xl: 38px;
        --space-16xl: 48px;
    }
    [type="text"],
    input:where(:not([type])),
    [type="email"], 
    [type="url"],
    [type="password"], 
    [type="number"],
    [type="date"],
    [type="datetime-local"], 
    [type="month"],
    [type="search"], 
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        appearance: none;
        background-color: transparent;
        border-color: unset;
        border-width: 0;
        border-radius: unset;
        padding: unset; 
        font-size: unset; 
        line-height: unset;
    }

    /* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */ 
    [type="text"]:focus,
    [type="email"]:focus,
    [type="url"]:focus,
    [type="password"]:focus,
    [type="number"]:focus,
    [type="date"]:focus,
    [type="search"]:focus, 
    [multiple]:focus,
    textarea:focus,
    select:focus {
        --tw-ring-color: transparent;
        border-color: transparent;
    }
    [type="radio"]:focus,
    [type="checkbox"]:focus {
        --tw-ring-color: transparent;
    }
}
@layer components {
/* Container CSS */
    .container-xs {
        @apply w-full mx-auto max-w-[1222px];
    }
}