@tailwind base;
@tailwind components;
@tailwind utilities;

li:focus-visible {
  outline: none;
}
li:hover {
  cursor: pointer;
}
@layer base {
  :root {
    /*------Color variables------*/
    --black_900: #060e19;
    --black_900_01: #000000;
    --black_900_0c: #0000000c;
    --black_900_7f: #0000007f;
    --blue_100: #d0e0fc;
    --blue_a400: #2b71f0;
    --blue_a400_00: #2b70ef00;
    --blue_a400_33: #2b71f033;
    --blue_gray_100: #d0d4dd;
    --blue_gray_100_01: #d9d9d9;
    --blue_gray_100_02: #d1d1d1;
    --blue_gray_300: #98a1b2;
    --blue_gray_300_01: #8b94a6;
    --blue_gray_50: #f1f1f1;
    --blue_gray_500: #677488;
    --blue_gray_500_01: #667185;
    --blue_gray_500_99: #67748899;
    --blue_gray_50_01: #eff1f4;
    --blue_gray_700: #475267;
    --blue_gray_800: #344054;
    --blue_gray_900: #2b3338;
    --blue_gray_900_01: #001a40;
    --deep_orange_100: #fcd2c2;
    --deep_orange_a100: #f99773;
    --gray_400: #bbbdbf;
    --gray_50: #fafafa;
    --gray_50_01: #f9f9fb;
    --gray_50_02: #f9fafb;
    --gray_600: #737373;
    --gray_900: #1a1a21;
